<div class="pokemon-container" >
  <div class="pokemon-title">
    <h1><%= link_to pokemons_path do %>
      <%= image_tag('pokeball.svg') %> Pokédex
    <% end %></h1>
    <%= form_with url: pokemons_path, method: :get, class: "search_bar d-flex" do %>
      <%= text_field_tag :id,
            params[:id],
            class: "form-control",
            placeholder: "Pokemon ID"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-success" %>
    <% end %>
  </div>

  <div class="pokemon-list">
    <% @pokemons.each do |pokemon| %>
      <div class="pokemon-wrapper">
        <a href="/pokemons/<%=pokemon[:id]%>"><h3><%= pokemon[:name] %></h3></a>

        <img src="https://raw.githubusercontent.com/pokeapi/sprites/master/sprites/pokemon/other/dream-world/<%=pokemon[:id] %>.svg" alt="<%= pokemon[:name] %>", class="pokemon-sprite">
        <%# <p>ID: <%= pokemon[:id]</p> %>
      </div>
    <% end %>
  </div>
</div>
